<div class="currency">
    <div class="d-flex align-items-center py-1">
        <div class="wrap-img">
            <img src="/modules/add_currency/images/usd.svg" alt="">
        </div>
        <div class="currency-val pl-2 font-weight-bold">{{ curs_usd }}</div>
    </div>
    <div class="d-flex align-items-center py-1">
        <div class="wrap-img">
            <img src="/modules/add_currency/images/eur.svg" alt="">
        </div>
        <div class="currency-val pl-2 font-weight-bold">{{ curs_eur }}</div>
    </div>
    <div class="d-flex align-items-center py-1">
        <div class="wrap-img">
            <img src="/modules/add_currency/images/pln.svg" alt="">
        </div>
        <div class="currency-val pl-2 font-weight-bold">{{ curs_pln }}</div>
    </div>
    <div class="d-flex align-items-center py-1">
        <div class="wrap-img">
            <img src="/modules/add_currency/images/gbp.svg" alt="">
        </div>
        <div class="currency-val pl-2 font-weight-bold">{{ curs_gbp }}</div>
    </div>
</div>