
#block-topmenu-2 {
  .nav-item {
    .nav-link {
      font-size: 12px;
      color: #ebebeb;
      font-weight: bold;
    }
  }
}

#block-topmenu-3 {
  .nav-item {
    .nav-link {
      font-size: 12px;
      color: #ebebeb;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}