#block-views-block-frontpage-block-4 {
  .title_container {
    padding-left: 15px;
    .wrap_title {
      margin-bottom: 30px;
      border-bottom: 2px solid #f0f0f0;

    }
    .title {
      border-bottom: 2px solid #000;
      font-size: 20px;
      font-weight: 900;
      display: inline-block;
      margin-bottom: 0;
      position: relative;
      bottom: -2px;
      text-transform: uppercase;
      padding-bottom: 15px;

    }
  }
  .views-field-field-image {
    padding-bottom: 35px;
  }
  .views-field-created {
    .field-content {
      font-size: 12px;
      color: #9E9E9E;
      letter-spacing: 1px;
      font-weight: 400;
    }

  }
  .split {
    font-size: 12px;
    color: #9E9E9E;
    font-weight: 400;
  }
  .views-field-field-tags {
    .field-content a {
      font-style: italic;
      font-weight: 600;
      font-size: 12px;
      color: #6a1e9c;
      text-decoration: none;
    }
  }
  .views-field-title {
    padding-top: 15px;
    a {
      font-weight: 700;
      font-size: 18px;
      color: #2b2b2b;
      text-decoration: none;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .views-view-grid.horizontal {
    .row {
      margin-bottom: 10px;
    }
  }
}