.block-views-blockfrontpage-block-6 {
  padding: 15px;
  background: #ebebeb;
  .wrap_block_title {
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 30px;
  }
  .block_title {
    color: #505050;
    font-size: 16px;
    font-weight: 900;
    border-bottom: 2px solid #505050;
    padding-bottom: 15px;
    margin: 0;
    display: inline-block;
    position: relative;
    bottom: -2px;
  }

}